body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.primary{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#715bff+16,0600c1+100 */
background: #715bff !important; /* Old browsers */
background: -moz-linear-gradient(45deg,  #715bff 16%, #0600c1 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #715bff 16%,#0600c1 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #715bff 16%,#0600c1 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#715bff', endColorstr='#0600c1',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */

}
