<div class="ui four special cards">
<!-- repeat -->

  <div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a class="ui inverted button" href="/detail/30x00x0s">In-Depth</a>
            </div>
          </div>
      </div>
      <img src="https://instagram.fbkk5-4.fna.fbcdn.net/t51.2885-19/s320x320/13249628_1580283865599431_1257776666_a.jpg">
    </div>
    <div class="content">
      <a class="header">@pimtha</a>
      <div class="meta">
        <span class="date">2,300,000 followers</span>
      </div>
      <div class="description">
        <table class="ui very basic collapsing celled table">
           <tr><td>Activity</td><td>20 <i>LpH</i></td></tr>
           <tr><td>Category</td><td>Lifestyle</td></tr>
           <tr><td>Region</td><td>Thailand</td></tr>
           <tr><td>Phone Number</td><td>0895599219</td></tr>
           <tr><td>Email</td><td>Unknown</td></tr>
           <tr><td>LINE</td><td>@kzh0544q</td></tr>
        </table>
      </div>
    </div>
  </div>


</div>
<div class="ui modal">
  <div class="header">Header</div>
  <div class="content">
    <p></p>
  </div>
  <div class="actions">
    <div class="ui approve button">Approve</div>
    <div class="ui button">Neutral</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>

<script>
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>
