
<!-- Page Contents -->
<div class="pusher" >
  <div class="ui inverted vertical masthead center aligned segment" id="particles-js">

  </div>
  <div class="ui inverted vertical masthead center aligned segment" style="background:none; position:  absolute; top: 0px; width:100%">
     <div class="ui text container">
      <h1 class="ui inverted header" >
        <img src="/img/logo_white_5x.png"/>
      </h1>
      <h4><img src="/img/subtitle.png"/></h4>
      <br/>
      <div class="ui inverted button">Coming Soon</div>
    </div>
  </div>

  <div class="ui vertical stripe segment dontfollowstalk">
    <div class="ui middle aligned stackable grid container">
      <div class="row" >
        <div class="eight wide column">
          <h3 class="ui header">Don't follow. Stalk.</h3>
          <p>Keep your friends close and your influencers closer. Browse through potential influencer match on our StokaNet™, discover aspects of their public lives like never before. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">About</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Investor Relation</a>
            <a href="#" class="item">Stoka Team</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Family</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Stoka Army</a>
            <a href="#" class="item">StokaNet™</a>
            <a href="#" class="item">Stoka API</a>
            <a href="#" class="item">Stoka Merchandise</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
