<div ng-controller="YouTubeController">
<div class="ui clearing basic segment">
        <div class="ui floated text menu">

          <div class="ui multiple dropdown">
            <input type="hidden" name="filters">
            <i class="filter icon"></i>
            <span class="text">Filter Profiles</span>
            <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input type="text" placeholder="Search filters...">
              </div>
              <div class="divider"></div>
              <div class="header">
                <i class="tags icon"></i>
                Preset Filters
              </div>
              <div class="scrolling menu">
                <div class="item" data-value="thai">
                  <div class="ui black empty circular label"></div>
                  Thai
                </div>
                <div class="item" data-value="ig">
                  <div class="ui blue empty circular label"></div>
                  Instagram
                </div>
                <div class="item" data-value="yt">
                  <div class="ui red empty circular label"></div>
                  YouTube
                </div>
                <div class="item" data-value="gt2000sub">
                  <div class="ui red empty circular label"></div>
                  > 2000 Subscribers
                </div>
              </div>
            </div>
          </div>

        </div>

        <button class="ui right floated button">
          Export All
        </button>
        <button class="ui right floated  primary button">
          <i class="fa fa-cog"></i> Sort
        </button>
      </div>

<div class="ui five special cards">
<!-- repeat -->
    <div class="ui card" style="overflow:hidden" ng-repeat="card in resp.profiles">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <a class="ui inverted button">In-Depth</a>
              </div>
            </div>
        </div>
        <img ng-src="[[getHiRes(card.logo_url)]]">
      </div>
      <div class="content">
        <a class="header" target="blank" href="[[card.url]]">[[card.title]]</a>
        <div class="meta">
          <span class="date">[[ card.stats.subscriber_count | number ]] subscribers</span>
        </div>
        <div class="description">
          <table class="ui very basic collapsing celled table">
             <tr><td>Region</td><td>[[ card.country ]]</td></tr>
             <tr><td>Language</td><td>[[ card.language[0] ]]</td></tr>
             <tr><td>Email</td><td>[[ card.email ]]</td></tr>
             <tr><td>Views</td><td>[[  card.stats.view_count | number ]]</td></tr>
          </table>
        </div>
      </div>
       <div class="extra content">
          <!-- # {{ inc @index}} / {{ ../profile_count }} -->
          [[ $index + 1]] / [[ resp.profile_count | number ]]
        </div>
    </div>
</div>

<p class="ui container">
<div class="ui pagination menu">
  <a class="item" ng-click="getPage(currentPage-1)">
     <i class="fa fa-caret-left"></i>
  </a>
  <a ng-repeat="p in resp.pages" ng-click="getPage(p)" class="item" ng-class="{'active': currentPage == p }">[[p]]</a>
  <a class="item" ng-click="getPage(currentPage+1)">
    <i class="fa fa-caret-right"></i>
  </a>
</div>

</p>

</div>
<br/>
<script>

  $('.special.cards .image').dimmer({
    on: 'hover'
  });

  var STOKA_FILTER = {
    'thai': {"$or": [{"country": "Thailand"}, {"language.0": "th"}]},
    'ig': {"medium": "instagram"},
    'yt': {"medium" : "youtube"},
    'gt2000sub': {"stats.subscriber_count" : {"$gt" : 2000}}
  };


  myApp.controller('YouTubeController', ['$scope','$http', function($scope, $http) {
    $scope.appliedFilters = {};
    $('.ui.dropdown').dropdown({
      onRemove: function(removedValue, removedText, $removedChoice){
        delete $scope.appliedFilters[removedValue];
        $scope.currentPage = 1;
        $scope.$apply();
        $scope.reload($scope.currentPage, $scope.appliedFilters);
      },
      onChange: function(text,value){
        var m = STOKA_FILTER[value];
        if(!m){
          return text;
        }

        if(value in $scope.appliedFilters){
          return text;
        }

        $scope.appliedFilters[value] = m;

        $scope.currentPage = 1;
        $scope.$apply();
        $scope.reload($scope.currentPage, $scope.appliedFilters);
        return text;
      }
     });

    function filterize(filterList){
      if(Object.keys(filterList).length == 0) return false;
      var K = []
      Object.keys(filterList).forEach(function(y){
        K.push(filterList[y]);
      })
      var x = {
        "$and" : K
      };
      return x;
    }

    $scope.getHiRes = function(url){
      return url.replace('/s100', '/l100')
    }

    $scope.reload = function(page, appliedFilters){
      var P = {
          page: page
      };
      var ap = filterize(appliedFilters);
      if(ap){
        P.filter = ap;
      }
      $http.get('/deck/youtube/api', {
        params: P
      }).then(function(data){
        $scope.resp = data.data;

      });
    }

    $scope.currentPage = 1;

    $scope.getPage =function(p){
      $scope.currentPage = Number(p);
      $scope.reload($scope.currentPage, $scope.appliedFilters);
    }

    $scope.reload(1, $scope.appliedFilters);
  }]);


;
</script>
