<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title }} - AlphaStoka</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/semantic/dist/semantic.css">
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="https://use.fontawesome.com/e891519772.js"></script>

    {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
    <div class="ui container">
      <div class="ui text menu">
        <img class="item" src="/img/logo.png" width="180px">
        <div class="ui right dropdown item">
          Settings
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Applications</div>
            <div class="item">International Students</div>
            <div class="item">Scholarships</div>
          </div>
        </div>
      </div>
      <div class="ui flowing basic admission popup">
        <div class="ui three column relaxed divided grid">
          <div class="column">
            <h4 class="ui header">Social Sciences</h4>
            <div class="ui link list">
              <a class="item">Food Studies</a>
              <a class="item">Journalism</a>
              <a class="item">Non Profit Management</a>
            </div>
          </div>
        </div>
      </div>



      {{{body}}}
    </div>
  </body>
</html>
